.avatar {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.subscribe-button {
    color: black;
    border: solid 2px black;
    border-radius: 8px;
}

.dislike,
.like,
.send {
    color: black;
    border: solid 2px black;
    border-radius: 8px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
}

.send {
    position: relative;
}

.send>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment-head {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment input {
    transition: 50ms;
    outline: none;
}

.comment .focused {
    border-bottom-color: black;
    width: 88%;
}

.comment .focused::placeholder {
    color: black;
}